.card-value-panel {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.card-text-value{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 20px;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-row {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-with-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-points {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 5px;
}
